@-webkit-keyframes fly-duck-1 {
  0% {
    left: -25%;
    top: 17vh;
  }
  30% {
    left: random 70vh;
    top: 14vh;
  }
  50% {
    left: random 70vh;
    top: 70vh;
  }
  80% {
    left: random 70vh;
    top: 7vh;
  }
  100% {
    left: 110%;
    top: 64vh;
  }
}

@keyframes fly-duck-1 {
  0% {
    left: -25%;
    top: 17vh;
  }
  30% {
    left: random 70vh;
    top: 14vh;
  }
  50% {
    left: random 70vh;
    top: 70vh;
  }
  80% {
    left: random 70vh;
    top: 7vh;
  }
  100% {
    left: 110%;
    top: 64vh;
  }
}

@-webkit-keyframes fly-duck-2 {
  0% {
    left: -25%;
    top: 35vh;
  }
  30% {
    left: random 70vh;
    top: 46vh;
  }
  50% {
    left: random 70vh;
    top: 68vh;
  }
  80% {
    left: random 70vh;
    top: 69vh;
  }
  100% {
    left: 110%;
    top: 32vh;
  }
}

@keyframes fly-duck-2 {
  0% {
    left: -25%;
    top: 35vh;
  }
  30% {
    left: random 70vh;
    top: 46vh;
  }
  50% {
    left: random 70vh;
    top: 68vh;
  }
  80% {
    left: random 70vh;
    top: 69vh;
  }
  100% {
    left: 110%;
    top: 32vh;
  }
}

@-webkit-keyframes fly-duck-3 {
  0% {
    left: -25%;
    top: 66vh;
  }
  30% {
    left: random 70vh;
    top: 63vh;
  }
  50% {
    left: random 70vh;
    top: 36vh;
  }
  80% {
    left: random 70vh;
    top: 15vh;
  }
  100% {
    left: 110%;
    top: 13vh;
  }
}

@keyframes fly-duck-3 {
  0% {
    left: -25%;
    top: 66vh;
  }
  30% {
    left: random 70vh;
    top: 63vh;
  }
  50% {
    left: random 70vh;
    top: 36vh;
  }
  80% {
    left: random 70vh;
    top: 15vh;
  }
  100% {
    left: 110%;
    top: 13vh;
  }
}

@-webkit-keyframes fly-duck-4 {
  0% {
    left: -25%;
    top: 17vh;
  }
  30% {
    left: random 70vh;
    top: 15vh;
  }
  50% {
    left: random 70vh;
    top: 67vh;
  }
  80% {
    left: random 70vh;
    top: 8vh;
  }
  100% {
    left: 110%;
    top: 46vh;
  }
}

@keyframes fly-duck-4 {
  0% {
    left: -25%;
    top: 17vh;
  }
  30% {
    left: random 70vh;
    top: 15vh;
  }
  50% {
    left: random 70vh;
    top: 67vh;
  }
  80% {
    left: random 70vh;
    top: 8vh;
  }
  100% {
    left: 110%;
    top: 46vh;
  }
}

@-webkit-keyframes fly-duck-5 {
  0% {
    left: -25%;
    top: 30vh;
  }
  30% {
    left: random 70vh;
    top: 50vh;
  }
  50% {
    left: random 70vh;
    top: 24vh;
  }
  80% {
    left: random 70vh;
    top: 23vh;
  }
  100% {
    left: 110%;
    top: 10vh;
  }
}

@keyframes fly-duck-5 {
  0% {
    left: -25%;
    top: 30vh;
  }
  30% {
    left: random 70vh;
    top: 50vh;
  }
  50% {
    left: random 70vh;
    top: 24vh;
  }
  80% {
    left: random 70vh;
    top: 23vh;
  }
  100% {
    left: 110%;
    top: 10vh;
  }
}

@-webkit-keyframes fly-duck-6 {
  0% {
    left: -25%;
    top: 8vh;
  }
  30% {
    left: random 70vh;
    top: 62vh;
  }
  50% {
    left: random 70vh;
    top: 54vh;
  }
  80% {
    left: random 70vh;
    top: 34vh;
  }
  100% {
    left: 110%;
    top: 36vh;
  }
}

@keyframes fly-duck-6 {
  0% {
    left: -25%;
    top: 8vh;
  }
  30% {
    left: random 70vh;
    top: 62vh;
  }
  50% {
    left: random 70vh;
    top: 54vh;
  }
  80% {
    left: random 70vh;
    top: 34vh;
  }
  100% {
    left: 110%;
    top: 36vh;
  }
}

@-webkit-keyframes fly-duck-7 {
  0% {
    left: -25%;
    top: 57vh;
  }
  30% {
    left: random 70vh;
    top: 54vh;
  }
  50% {
    left: random 70vh;
    top: 55vh;
  }
  80% {
    left: random 70vh;
    top: 57vh;
  }
  100% {
    left: 110%;
    top: 3vh;
  }
}

@keyframes fly-duck-7 {
  0% {
    left: -25%;
    top: 57vh;
  }
  30% {
    left: random 70vh;
    top: 54vh;
  }
  50% {
    left: random 70vh;
    top: 55vh;
  }
  80% {
    left: random 70vh;
    top: 57vh;
  }
  100% {
    left: 110%;
    top: 3vh;
  }
}

@-webkit-keyframes fly-duck-8 {
  0% {
    left: -25%;
    top: 19vh;
  }
  30% {
    left: random 70vh;
    top: 39vh;
  }
  50% {
    left: random 70vh;
    top: 33vh;
  }
  80% {
    left: random 70vh;
    top: 67vh;
  }
  100% {
    left: 110%;
    top: 33vh;
  }
}

@keyframes fly-duck-8 {
  0% {
    left: -25%;
    top: 19vh;
  }
  30% {
    left: random 70vh;
    top: 39vh;
  }
  50% {
    left: random 70vh;
    top: 33vh;
  }
  80% {
    left: random 70vh;
    top: 67vh;
  }
  100% {
    left: 110%;
    top: 33vh;
  }
}

@-webkit-keyframes fly-duck-9 {
  0% {
    left: -25%;
    top: 31vh;
  }
  30% {
    left: random 70vh;
    top: 18vh;
  }
  50% {
    left: random 70vh;
    top: 45vh;
  }
  80% {
    left: random 70vh;
    top: 65vh;
  }
  100% {
    left: 110%;
    top: 26vh;
  }
}

@keyframes fly-duck-9 {
  0% {
    left: -25%;
    top: 31vh;
  }
  30% {
    left: random 70vh;
    top: 18vh;
  }
  50% {
    left: random 70vh;
    top: 45vh;
  }
  80% {
    left: random 70vh;
    top: 65vh;
  }
  100% {
    left: 110%;
    top: 26vh;
  }
}

@-webkit-keyframes fly-duck-10 {
  0% {
    left: -25%;
    top: 45vh;
  }
  30% {
    left: random 70vh;
    top: 40vh;
  }
  50% {
    left: random 70vh;
    top: 5vh;
  }
  80% {
    left: random 70vh;
    top: 63vh;
  }
  100% {
    left: 110%;
    top: 70vh;
  }
}

@keyframes fly-duck-10 {
  0% {
    left: -25%;
    top: 45vh;
  }
  30% {
    left: random 70vh;
    top: 40vh;
  }
  50% {
    left: random 70vh;
    top: 5vh;
  }
  80% {
    left: random 70vh;
    top: 63vh;
  }
  100% {
    left: 110%;
    top: 70vh;
  }
}

body {
  background-image: url(https://sun1-98.userapi.com/gJJp2ww3N8BuQ2blchJ7KsfaL6kzpQD0MRWhAg/M_OYtwQJNFY.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  counter-reset: count;
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  left: -105%;
}

.duck-1 {
  position: absolute;
  -webkit-animation: fly-duck-1 4s linear 1s 1 both;
          animation: fly-duck-1 4s linear 1s 1 both;
}

.duck-2 {
  position: absolute;
  -webkit-animation: fly-duck-2 4s linear 2s 1 both;
          animation: fly-duck-2 4s linear 2s 1 both;
}

.duck-3 {
  position: absolute;
  -webkit-animation: fly-duck-3 4s linear 3s 1 both;
          animation: fly-duck-3 4s linear 3s 1 both;
}

.duck-4 {
  position: absolute;
  -webkit-animation: fly-duck-4 4s linear 4s 1 both;
          animation: fly-duck-4 4s linear 4s 1 both;
}

.duck-5 {
  position: absolute;
  -webkit-animation: fly-duck-5 4s linear 5s 1 both;
          animation: fly-duck-5 4s linear 5s 1 both;
}

.duck-6 {
  position: absolute;
  -webkit-animation: fly-duck-6 4s linear 6s 1 both;
          animation: fly-duck-6 4s linear 6s 1 both;
}

.duck-7 {
  position: absolute;
  -webkit-animation: fly-duck-7 4s linear 7s 1 both;
          animation: fly-duck-7 4s linear 7s 1 both;
}

.duck-8 {
  position: absolute;
  -webkit-animation: fly-duck-8 4s linear 8s 1 both;
          animation: fly-duck-8 4s linear 8s 1 both;
}

.duck-9 {
  position: absolute;
  -webkit-animation: fly-duck-9 4s linear 9s 1 both;
          animation: fly-duck-9 4s linear 9s 1 both;
}

.duck-10 {
  position: absolute;
  -webkit-animation: fly-duck-10 4s linear 10s 1 both;
          animation: fly-duck-10 4s linear 10s 1 both;
}

h2 {
  position: absolute;
  bottom: 20px;
  left: 32px;
  color: black;
  border-style: ridge;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: black;
}

img {
  width: 8%;
}

input[type="checkbox"]:checked {
  counter-increment: count;
}

input[type="checkbox"]:checked + img {
  visibility: hidden;
}

h2:after {
  content: " " counter(count);
}

@media (max-width: 500px) {
  img {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */